{% extends('mha/bases/base.html.twig') %}

{% block stylesheet %}
    <style>
        .entry-content * {
            text-transform:capitalize   ;
        }
    </style>
{% endblock %}
{% block pageContent %}


    <div class="entry-content">

        <br>
        <h1 style="text-align:center; text-transform: uppercase">Conditions générales de vente de prestations de services à des consommateurs particuliers</h1>
        <br>


        <div class="container">
            <div class="text-center">
                <h3>Les présentes conditions générales de vente s&#39;appliquent à toutes les prestations de services conclues sur le site
                    Internet mha vtc.
                    Le site Internet mha vtc est un service de :
                    <ul>
                        <li>la société mha vtc</li>
                        <li>située à : 33 rue robert stevenson Appartement 7</li>
                        <li>adresse URL du site : https://www.mha-vtc.fr</li>
                        <li>adresse mail : chauffeur@mha-vtc.fr; mhavtc@gmail.com</li>
                        <li>téléphone : 0669978305</li>
                    </ul>
                    Le client déclare avoir pris connaissance et avoir accepté les conditions générales de vente antérieurement à la
                    passation de la commande. La validation de la commande vaut donc acceptation des conditions générales de
                    vente.</h3>
            </div>
            <br>

            <h2>Article 1 - Contenu et champ d'application</h2>
            <p>Les présentes conditions générales de vente s&#39;appliquent de plein droit aux prestations de services suivantes
                : Chauffeur privé, VTC.</p>
            <p>Elles s&#39;appliquent à l&#39;exclusion de toutes autres conditions, et notamment celles applicables pour les ventes sur
                internet ou au moyen d&#39;autres circuits de distribution et de commercialisation.</p>
            <p>La vente est réputée conclue à la date d&#39;acceptation de la commande ou à l&#39;achat immédiat par le vendeur.
                Toute commande ou achat immédiat implique l&#39;adhésion sans réserve aux présentes conditions générales de
                vente qui prévalent sur toutes autres conditions, à l&#39;exception de celles qui ont été acceptées expressément par
                le vendeur.</p>
            <p>L&#39;acheteur déclare avoir pris connaissance des présentes conditions générales de vente et les avoir acceptées
                avant son achat immédiat ou la passation de sa commande.</p>

            <h2>Article 2 - Informations précontractuelles</h2>
            <p>Préalablement à l'achat immédiat ou à la passation de la commande et à la conclusion du contrat, ces conditions générales de vente sont communiquées à l'acheteur, qui reconnaît les avoir reçues.</p>
            <p>Sont transmises à l'acheteur, de manière claire et compréhensible, les informations suivantes :</p>
            <ul>
                <li>Les caractéristiques essentielles du service</li>
                <li>Le prix du service ou le mode de calcul du prix et, s'il y a lieu, tous les frais supplémentaires de transport, de livraison ou d'affranchissement et tous les autres frais éventuels</li>
                <li>La date ou le délai auquel le prestataire s'engage à exécuter le service, quel que soit son prix, et toute autre condition contractuelle</li>
                <li>Les informations relatives à l'identité du prestataire, à ses coordonnées postales, téléphoniques et électroniques, et à ses activités</li>
                <li>Les modalités prévues pour le traitement des réclamations</li>
                <li>La durée du contrat, lorsqu'il est conclu à durée déterminée, ou les conditions de sa résiliation en cas de contrat à durée indéterminée</li>
                <li>En ce qui concerne le contenu numérique toute interopérabilité pertinente de ce contenu avec certains matériels ou logiciels dont le professionnel a ou devrait raisonnablement avoir connaissance.</li>
            </ul>
            <p>Le prestataire de services doit également communiquer à l'acheteur, ou mettre à sa disposition, les informations suivantes :</p>
            <ul>
                <li>statut et forme juridique, coordonnées permettant d'entrer en contact rapidement et de communiquer directement avec lui</li>
                <li>le cas échéant, le numéro d'inscription au registre du commerce et des sociétés ou au répertoire des métiers </li>
                <li>pour les activités soumises à un régime d'autorisation, le nom et l'adresse de l'autorité l'ayant délivré</li>
                <li>pour le prestataire assujetti à la taxe sur la valeur ajoutée et identifié par un numéro individuel en application de l'article 286 ter du code général des impôts, son numéro individuel d'identification</li>
                <li>pour le prestataire membre d'une profession réglementée, son titre professionnel, l'État membre de l'UE dans lequel il a été octroyé ainsi que le nom de l'ordre ou de l'organisme professionnel auprès duquel il est inscrit</li>
                <li>l'éventuelle garantie financière ou assurance de responsabilité professionnelle souscrite par lui, les coordonnées de l'assureur ou du garant ainsi que la couverture géographique du contrat ou de l'engagemen</li>
            </ul>

            <h2>Article 3 - Commande</h2>
            <p>Par commande, il faut entendre tout ordre portant sur les prestations figurant sur les tarifs du vendeur, et accepté par lui, accompagné du paiement de l'acompte éventuellement prévu sur le bon de commande.
            </p>
            <p>Toute commande, pour être valable, doit être établie sur les bons de commande du vendeur, à la disposition de la clientèle dans ses magasins.
            </p>
            <p>Toute commande parvenue au vendeur est réputée ferme et définitive.</p>
            <p>Elle entraîne adhésion et acceptation pleine et entière des présentes conditions générales de vente et obligation de paiement des produits commandés</p>
            <p>L'acheteur dispose d'un droit de rétractation de 14 jours à compter de la conclusion du contrat, sauf exception prévue par l'article L.211-28 du Code de la consommatio</p>


            <h2>Article 4 - Devis</h2>
            <p>Pour les services donnant lieu à l'établissement d'un devis préalable, la vente ne sera considérée comme définitive qu'après établissement d'un devis par le prestataire et envoi à l'acheteur de la confirmation de l'acceptation de la commande.
            </p>
            <p>Les devis établis par le prestataire ont une durée de validité de 1 mois.
            </p>


            <h2>Article 5 - Exécution de la prestation et résolution du contrat
            </h2>
            <p>Sauf conditions particulières expresses propres à la vente, l'exécution de la prestation s'effectuera dans le délai de 5 à 30 minutes si la course demandée est immédiate ou à la date réservée par le client.  à compter de la réception par le vendeur d'une commande en bonne et due forme.</p>
            <p>En cas de manquement du vendeur à son obligation d'exécution à la date ou à l'expiration du délai prévu ci-dessus, ou, à défaut, au plus tard 30 jours après la conclusion du contrat, l'acheteur peut résoudre le contrat, dans les conditions des articles L. 216-2 et L. 216-3 et L. 216-4 du code de la consommation, par lettre recommandée avec demande d'avis de réception ou par un écrit sur un autre support durable, si, après avoir enjoint, selon les mêmes modalités, le professionnel de fournir le service dans un délai supplémentaire raisonnable, ce dernier ne s'est pas exécuté dans ce dél</p>
            <p>Le contrat est considéré comme résolu à la réception par le professionnel de la lettre ou de l'écrit l'informant de cette résolution, à moins que le professionnel ne se soit exécuté entre-temps.</p>
            <p>Néanmoins, l'acheteur peut immédiatement résoudre le contrat lorsque le professionnel refuse de fournir le service ou lorsqu'il n'exécute pas son obligation de fourniture du service à la date prévue, si cette date ou ce délai constitue pour l'acheteur une condition essentielle du contrat. Cette condition essentielle résulte des circonstances qui entourent la conclusion du contrat ou d'une demande expresse du consommateur avant la conclusion du contrat.
            </p>
            <p>Les frais et les risques liés à cette opération sont à la charge exclusive du prestataire.
                Hormis cas de force majeure, l'acompte versé à la commande est acquis de plein droit et ne peut donner lieu à aucun remboursement.
            </p>

            <h2>Article 6- Exceptions au délai de rétractation
            </h2>
            <p>Le délai de rétractation de 14 jours ne concerne pas la ou les situations ci-dessous énumérées:</p>
            <ul>
                <li> La prestation est effectuée (ou a commencé) avant la fin du délai de rétractation, après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation.</li>
                <li>La prestation concerne des services de transport de biens. </li>
                <li>La prestation concerne des activités de loisirs qui doivent être fournies à une date ou à une période déterminée.
                </li>
            </ul>

            <h2>Annulation de la commande </h2>
            <p>En cas d'annulation de la commande par l'acheteur, après acceptation du vendeur, pour quelque raison que ce soit hormis la force majeure, une somme correspondant à 10 % du montant de l'achat sera acquise au vendeur, à titre de dommages et intérêts, en réparation du préjudice ainsi subi.
            </p>

            <h2>Article 7 - Prix</h2>
            <p>Les prix sont fermes et définitifs. Sauf conditions particulières expresses propres à la vente, les prix des prestations effectuées sont ceux figurant dans le catalogue des prix au jour de la commande.
                Ils sont exprimés en monnaie légale et stipulés toutes taxes comprises.
            </p>

            <h2>Article 8 - Paiement</h2>
            <p>Première modalités prévues expressément par les conditions particulières, le paiement en espèce du prix s'effectue comptant au jour de la prestation</p>
            <p>Les paiements effectués par l'acheteur ne seront considérés comme définitifs qu'après encaissement effectif des sommes dues par le prestataire.
            </p>
            <br>
            <p>Seconde modalités prévues expressément par les conditions particulières, le paiement en ligne du prix s'effectue comptant à la commande. Les paiements effectués par l'acheteur ne seront considérés comme définitifs qu'après encaissement effectif des sommes dues par le prestataire.
            </p>
            <br>
            <p>Une facture sera remise à l'acheteur sur simple demande.</p>

            <h2>Article 9 - Garanties - Généralités
            </h2>
            <h3>9-1 Garantie légale de conformité</h3>
            <p>mha vtc est garant de la conformité du bien vendu au contrat, permettant à l'acheteur de formuler une demande au titre de la garantie légale de conformité prévue aux articles L. 217-4 et suivants du code de la consommation.
            </p>
            <p>En cas de mise en oeuvre de la garantie légale de conformité, il est rappelé que </p>
            <ul>
                <li>l'acheteur bénéficie d'un délai de 2 ans à compter de la délivrance du bien pour agir</li>
                <li>l'acheteur peut choisir entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par l'article L. 217-17 du code de la consommation</li>
                <li> l'acheteur n’a pas à apporter la preuve de la non-conformité du bien durant les 24 mois en cas de biens neufs (6 mois en cas de biens d'occasion), suivant la délivrance du bien.
                </li>
            </ul>

            <h3>9-2 Garantie légales des vices cachés</h3>
            <p>Conformément aux articles 1641 et suivants du code civil, mha vtc est garant des vices cachés pouvant affecter le bien vendu. Il appartiendra à l'acheteur de prouver que les vices existaient à la vente du bien et sont de nature à rendre le bien impropre à l'usage auquel il est destiné. Cette garantie doit être mise en oeuvre dans un délai de deux ans à compter de la découverte du vice. </p>
            <p>L'acheteur peut choisir entre la résolution de la vente ou une réduction du prix conformément à l'article 1644 du code civil.
            </p>

            <h2>Article 10 - Propriété intellectuelle</h2>
            <p>Tous les documents techniques, produits, dessins, photographies remis aux acheteurs demeurent la propriété exclusive de mha vtc, seul titulaire des droits de propriété intellectuelle sur ces documents, et doivent lui être rendus à sa demande.
            </p>
            <p>Les acheteurs clients s'engagent à ne faire aucun usage de ces documents, susceptible de porter atteinte aux droits de propriété industrielle ou intellectuelle du fournisseur et s'engagent à ne les divulguer à aucun tiers.
            </p>

            <h2>Article 11 - Juridiction compétente
            </h2>
            <p>Tous les litiges auxquels les opérations d'achat et de vente conclues en application des présentes conditions générales de vente pourraient donner lieu, concernant tant leur validité, leur interprétation, leur exécution, leur résiliation, leurs conséquences et leurs suites et qui n'auraient pas pu être résolus à l'amiable entre le vendeur et le client, seront soumis aux tribunaux compétents dans les conditions de droit commun.
            </p>
            <p>Pour la définition de la juridiction compétente, le vendeur élit domicile à 33 rue robert stevenson Appartement 7.
            </p>

            <h2>Article 12 - Langue du contra</h2>
            <p>Les présentes conditions générales de vente sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs langues étrangères, seul le texte français ferait foi en cas de litige.
            </p>

            <h2>Article 13 - Médiation et règlement des litiges</h2>
            <p>L'acheteur peut recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation de la consommation ou auprès des instances de médiation sectorielles existantes, ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation.
            </p>
            <p>En cas de contestation, les coordonnées du médiateur auquel l'acheteur peut s'adresser sont les suivantes :</p>

            {# TODO ajouter les informations ici #}

            <p>Conformément à l’article 14 du Règlement (UE) n°524/2013, la Commission Européenne a mis en place une plateforme de Règlement en Ligne des Litiges, facilitant le règlement indépendant par voie extrajudiciaire des litiges en ligne entre consommateurs et professionnels de l’Union européenne. Cette plateforme est accessible au lien suivant : <a href="https://webgate.ec.europa.eu/odr">Accèder à la plateforme</a></p>

            <h2>Article 14 - Loi applicable</h2>
            <p>Les présentes conditions générales sont soumises à l'application du droit français.
                Il en est ainsi pour les règles de fond comme pour les règles de forme. En cas de litige ou de réclamation, l'acheteur s'adressera en priorité au vendeur pour obtenir une solution amiable.
            </p>

            <h2>Article 15 - Protection des données personnelles
            </h2>
            <b style="text-decoration: black underline">Données collectées :</b>
            <p>Les données à caractère personnel qui sont collectées sur ce site sont les suivantes </p>
            <ul>
                <li>ouverture de compte : lors de la création du compte de l'utilisateur, ses nom ; prénom ; adresse électronique ; n° de téléphone</li>
                <li>connexion : lors de la connexion de l'utilisateur au site web, celui-ci enregistre, notamment, ses nom, prénom, données de connexion, d'utilisation, de localisation et ses données relatives au paiement</li>
                <li>profil : l'utilisation des prestations prévues sur le site web permet de renseigner un profil, pouvant comprendre une adresse et un numéro de téléphone</li>
                <li>paiement : dans le cadre du paiement des produits et prestations proposés sur le site web, celui-ci enregistre des données financières relatives au compte bancaire ou à la carte de crédit de l'utilisateur </li>
                <li>communication : lorsque le site web est utilisé pour communiquer avec d'autres membres, les données concernant les communications de l'utilisateur font l'objet d'une conservation temporaire</li>
                <li>cookies : les cookies sont utilisés, dans le cadre de l'utilisation du site. L'utilisateur a la possibilité de désactiver les cookies à partir des paramètres de son navigateur</li>
            </ul>

            <b style="text-decoration: black underline">cookies : les cookies sont utilisés, dans le cadre de l'utilisation du site. L'utilisateur a la possibilité de désactiver les cookies à partir des paramètres de son navigateur</b>
            <p>Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des services du site web, leur amélioration et le maintien d'un environnement sécurisé. Plus précisément, les utilisations sont les suivantes :
            </p>
            <ul>
                <li>accès et utilisation du site web par l'utilisateur</li>
                <li> gestion du fonctionnement et optimisation du site web</li>
                <li>organisation des conditions d'utilisation des Services de paiement</li>
                <li>vérification, identification et authentification des données transmises par l'utilisateur </li>
                <li>proposition à l'utilisateur de la possibilité de communiquer avec d'autres utilisateurs du site web</li>
                <li>mise en oeuvre d'une assistance utilisateurs</li>
                <li> personnalisation des services en affichant des publicités en fonction de l'historique de navigation de l'utilisateur, selon ses préférences</li>
                <li>prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et gestion des incidents de sécurit</li>
                <li> gestion des éventuels litiges avec les utilisateurs</li>
                <li>envoi d'informations commerciales et publicitaires, en fonction des préférences de l'utilisateur.</li>
            </ul>

            <b style="text-decoration: black underline">Partage des données personnelles avec des tiers</b>
            <p>Les données personnelles peuvent être partagées avec des sociétés tierces, dans les cas suivants </p>
            <ul>
                <li>quand l'utilisateur utilise les services de paiement, pour la mise en oeuvre de ces services, le site web est en relation avec des sociétés bancaires et financières tierces avec lesquelles elle a passé des contrats</li>
                <li> lorsque l'utilisateur publie, dans les zones de commentaires libres du site web, des informations accessibles au public </li>
                <li> quand l'utilisateur autorise le site web d'un tiers à accéder à ses données</li>
                <li>quand le site web recourt aux services de prestataires pour fournir l'assistance utilisateurs, la publicité et les services de paiement. Ces prestataires disposent d'un accès limité aux données de l'utilisateur, dans le cadre de l'exécution de ces prestations, et ont une obligation contractuelle de les utiliser en conformité avec les dispositions de la réglementation applicable en matière protection des données à caractère personnel</li>
                <li> si la loi l'exige, le site web peut effectuer la transmission de données pour donner suite aux réclamations présentées contre le site web et se conformer aux procédures administratives et judiciaires </li>
                <li>si le site web est impliquée dans une opération de fusion, acquisition, cession d'actifs ou procédure de redressement judiciaire, elle pourra être amenée à céder ou partager tout ou partie de ses actifs, y compris les données à caractère personnel. Dans ce cas, les utilisateurs seraient informés, avant que les données à caractère personnel ne soient transférées à une tierce partie.</li>
            </ul>

            <b style="text-decoration: black underline">Sécurité et confidentialité</b>
            <p>Le site web met en oeuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et accès non autorisés. Toutefois, il est à signaler qu'internet n'est pas un environnement complètement sécurisé et le site web ne peut pas garantir la sécurité de la transmission ou du stockage des informations sur internet.</p>

            <b style="text-decoration: black underline">Mise en oeuvre des droits des utilisateurs</b>
            <p>En application de la réglementation applicable aux données à caractère personnel, les utilisateurs disposent des droits ci-dessous mentionnés, qu'ils peuvent exercer en faisant leur demande à l'adresse suivante : chauffeur@mha-vtc.fr; mhavtc@gmail.com
            </p>

            <ul>
                <li>Le droit d’accès : ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les concernant. Dans ce cas, avant la mise en œuvre de ce droit, le site web peut demander une preuve de l'identité de l'utilisateur afin d'en vérifier l'exactitud</li>
                <li>Le droit de rectification : si les données à caractère personnel détenues par le site web sont inexactes, ils peuvent demander la mise à jour des informations.</li>
                <li>Le droit de suppression des données : les utilisateurs peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données.</li>
                <li>Le droit à la limitation du traitement : les utilisateurs peuvent de demander au site web de limiter le traitement des données personnelles conformément aux hypothèses prévues par le RGPD.</li>
                <li>Le droit de s’opposer au traitement des données : les utilisateurs peuvent s’opposer à ce que ses données soient traitées conformément aux hypothèses prévues par le RGPD.  </li>
                <li>Le droit à la portabilité : ils peuvent réclamer que le site web leur remette les données personnelles qui lui sont fournies pour les transmettre à un nouveau site web.</li>
            </ul>



            <b style="text-decoration: black underline">Evolution de la présente clause</b>
            <p>Le site web se réserve le droit d'apporter toute modification à la présente clause relative à la protection des données à caractère personnel à tout moment. Si une modification est apportée à la présente clause de protection des données à caractère personnel, le site web s'engage à publier la nouvelle version sur son site. Le site web informera également les utilisateurs de la modification par messagerie électronique, dans un délai minimum de 15 jours avant la date d'effet. Si l'utilisateur n'est pas d'accord avec les termes de la nouvelle rédaction de la clause de protection des données à caractère personnel, il a la possibilité de supprimer son compte.
            </p>


            <b style="text-decoration: black underline">Rétractation</b>
            <p>Pour être sans frais, la demande de rétractation doit se faire 20 minutes minimum avant la course et doit être passer par téléphone au 0749550312. Au-delà 10% de la course sera demandé au client.</p>




        </div>





{% endblock %}