{% extends('mha/bases/base.html.twig') %}
{% block pageContent %}
    <section id="page-title" class="text-light" style="background-image: url('{{ asset('images/5ec78fb10161c.png') }}');background-size: cover;background-position: center;">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="page-title">
                <h1>Reservation Annulée</h1>
                <span>Une erreur s'est produite pendant le réglement de la réservation</span>
            </div>
        </div>
    </section>
    <section id="shop-checkout-completed">
        <div class="container">
            <div class="p-t-10 m-b-20 text-center">
                <div class="text-center">
                    <h3>Oups, quelque chose s'est mal passé</h3>
                    <p>Réessayer votre réservation et n'hésitez pas à nous contacter en cas de problème persistant.</p>
                    <p>MHA-VTC vous souhaite une excellente journée.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}