{% extends('mha/bases/base.html.twig') %}
{% block pageContent %}


  <div class="entry-content">

    <br>
    <h1 style="text-align:center">Politique de confidentialité</h1>
    <br>


    <div class="container">
      <h2>Qui sommes-nous ?</h2>
      <p>L’adresse de notre site Web est : https://mha-vtc.fr . Nous sommes une société de transport privé basé sur Toulouse.</p>
      <h2>Utilisation des données personnelles collectées</h2>
      <h3>Commentaires</h3>
      <p>Nous ne permettons pas les commentaires sur notre site web, aucune donnée relative à ces derniers ne sont donc collectés</p>

      <h3>Formulaires de réservation</h3>
      <p>Lors d'une création de réservation, nous vous demandons des informations personnelles tels que votre nom/prenom, adresse mail, numéro de télephone. Ceux-ci sont utilisé exclusivement par les membres de MHA-vtc afin de pouvoir vous contacter et de vous proposer des services personnalisés. </p>
        <p>Votre nom et prénom ne sont utilisés qu'afin de mettre en forme les emails de confirmations qui sont destiné à votre égard et au chauffeur de MHA-vtc. </p>
      <p> Votre email est utilisé afin de vous proposer des services personnalisés. Nous stockons votre adresse mail sous la forme d'une fiche client, comprennant également le nombre de commandes passées sur le site grâce à cette adresse mail afin de vous proposer des offres commerciales personnalisés. Seul l'adresse mail est stockée dans la fiche client afin de garantir une anonymisation garantie, ni le nom/prenom ou le numéro de télélephone fournis lors d'une reservation n'est stockée.</p>
      <p> Votre numéro de téléphone est utilisé en cas d'urgence lié à nos services. Si le chauffeur ne peut pas assurer votre course alors qu'elle est validée ou qu'une autre situation exceptionnelle se produit, le chauffeur se reserve le droit de vous contacter par téléphone afin de vous informer des changements.</p>
      <h3>Cookies</h3>
      <p>Notre site ne stocke aucun cookie sur votre ordinateur , leurs utilisations ne sont pas requises.</p>

      <h3>Contenu embarqué depuis d’autres sites</h3>
      <p>Le formulaire de réservation comprends une API Google Maps. Celle ci peut accèder à vos données personnelles tels que la géolocalisation, votre compte Google associés et vos recherches d'adresses afin de vous proposer des services supplémentaires. Aucune de ces données n'est traité ni stockée par MHA-vtc et nous déclinons toute responsabilité ayant un lien quelconque avec les activités de Google Maps. Ce service n'est proposé qu'à des fins fonctionnelles et non de récupération de données personnelles.</p>
      <p>Cette API peut utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d’un compte connecté sur leur site web.</p>

      <h3>Statistiques et mesures d’audience</h3>
      <p>Nous n'utilisons aucun outil de statistique portant atteinte à votre vie privée. Les mesures d'audience sont exclusivement gérées par Google Cloud Console.</p>

      <h2>Utilisation et transmission de vos données personnelles</h2>
      <p> Vos données personnelles ne sont pas stockées et réutilisées à long terme, à l'exempt de votre adresse mail, utilisée afin de créer une fiche client sur notre site MHA-vtc.fr . Ces données ne sont en aucun cas transmises à un quelconque service.</p>

      <h2>Durées de stockage de vos données</h2>
      <p>Votre adresse mail est stockée pour une durée indéfinie dans votre fiche client. Cette durée de stockage est mise en place afin d'assurer des services personnalisés au mieux aux clients récurrents </p>
      <p>Vos données personnelles autres que votre adresse mail sont supprimés dès qu'une demande de trajet à été marqué comme effectuée. Nous supprimons alors les données relatives au nom/prenom, numéro de telephone et adresses renseignées pour la course.</p>

      <h2>Les droits que vous avez sur vos données</h2>
      <p>Si vous avez déjà passé une commande sur notre site, vous avez le droit de contacter notre chauffeur afin de demander d'être exempté du service de fiche client, ainsi, nous effacerons votre fiche client existante dans notre base de données.</p>

      <h2>Transmission de vos données personnelles</h2>
      <p>Vos données ne sont transmises qu'entre notre site et nos chauffeurs, aucune application tierce n'a accès à ces données.</p>

      <h2>Informations supplémentaires</h2>
      <p>MHA-vtc ne collecte pas vos données à des fins de revente publicitaires. Les seules données que nous stockons sont utilisé afin de rendre votre expérience utilisateur/ice plus simple et immersive.</p>

      <h3>Comment nous protégeons vos données</h3>
      <p>Notre hébergeur (Ikoula) et nous même garantissons la sécurité de vos données grâce à un protocole d’accès chiffré.</p>

      <h3>Procédures mises en œuvre en cas de fuite de données</h3>
      <p>Nous vous préviendront également en cas de possible fuite de données sur notre site, afin que vous puissiez modifier vos informations et ainsi rester en sécurité pour ne pas propager cette fuite de données sur d’autres sites annexes.</p>

    </div>

    <p>&nbsp;</p>
  </div>
{% endblock %}