{% extends('mha/fullwidth-base.html.twig') %}
{% block pageContent %}
<section class="m-t-80 p-b-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-error-404">404</div>
            </div>
            <div class="col-lg-6">
                <div class="text-left">
                    <h1 class="text-medium">Oups , Il semble que la page recherchée n'existe pas !</h1>
                    <p class="lead">La page recherchée n'existe pas, à été supprimée ou est tout simplement non disponible !</p>
                    <div class="seperator m-t-20 m-b-20"></div>
                    <a href="https://mha-vtc.fr/index.php"> Retourner à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}